<mat-card>
  <mat-card-header>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>{{hero.id}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="hero.thumbnail" mat-card-image [src]="thumbnailSrc" alt="Photo of {{hero.name}}" crossorigin="anonymous">
  <mat-card-actions>
    <button mat-raised-button color="warn" [routerLink]="['/details', hero.id]">See details</button>
    <button *ngIf="!key" mat-raised-button color="warn" (click)="addFavourite()">Add to my list</button>
    <button *ngIf="key" mat-raised-button color="warn" (click)="delFavourite()">Remove From My Favourites</button>
  </mat-card-actions>
</mat-card>
